
<div style="text-align:center">
  <h1>
    Welcome to Project Management System
  </h1>
</div>
<nav>
  <a (click)= "toggleEditor('home')">Home</a>
  <a (click)= "toggleEditor('teammember')"> Team Members</a>
  <a (click)= "toggleEditor('project')">Project</a>
  <a (click)= "toggleEditor('mock')">Project Overview</a>
</nav>

<app-team-members *ngIf="showTeamMemberPage"></app-team-members>
<app-home-page *ngIf="showHome"></app-home-page>
<app-project *ngIf="showProject"></app-project>
<app-mock-data *ngIf="showProjectMock"></app-mock-data>

